@inject IModalService ModalService
<style>
    #parent {
    text-align:center;
    height:450px;
    width:100%;
}
</style>
    <div id="parent">
        <h3 class="display-4">Save Complete</h3>
        <button @onclick="@Close" class="btn btn-primary">Close</button>
    </div>

@code {
    private void Close()
    {
        ModalService.Cancel();
    }
}
